{% extends 'layout.html' %} {% block content %}
<div class="flex flex-col w-full justify-center border">
  <h1>Welcome to my blog</h1>
  <div class="flex gap-5 w-full" id="posts-grid">
    {% if posts %} {% for post in posts %}
    <div class="border flex flex-col h-100 w-100">
      <h3>{{post.title}}</h3>
      <p>{{post.description}}</p>
      {% if not post.updated %}
      <p>Added: {{post.added}}</p>
      {% else %}
      <p>Updated: {{post.updated}}</p>
      {% endif %}
      <a href="{{ url_for('view_post', _id=post.id) }}"
        >View Post</a
      >
    </div>
    {% endfor %} {% else %}
    <p>No posts available!</p>
    {% endif %}
  </div>
</div>
{% endblock content %}
